<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TableCreate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.TableCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableUpdate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.TableUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemCreate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.ItemCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemUpdate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.ItemUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryCreate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.CategoryCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryUpdate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.CategoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationCreate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.ReservationCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationUpdate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.ReservationUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCreate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.OrderCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUpdate</servlet-name>
        <servlet-class>br.cefetmg.LeMaitre.servlet.OrderUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableCreate</servlet-name>
        <url-pattern>/TableCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableUpdate</servlet-name>
        <url-pattern>/TableUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCreate</servlet-name>
        <url-pattern>/ItemCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemUpdate</servlet-name>
        <url-pattern>/ItemUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryCreate</servlet-name>
        <url-pattern>/CategoryCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryUpdate</servlet-name>
        <url-pattern>/CategoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationCreate</servlet-name>
        <url-pattern>/ReservationCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationUpdate</servlet-name>
        <url-pattern>/ReservationUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCreate</servlet-name>
        <url-pattern>/OrderCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUpdate</servlet-name>
        <url-pattern>/OrderUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
